* {
    box-sizing: border-box;
}

body {
    min-width: 1366px;
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #161517;
    background-color: #ffffff;
}

.header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #F8F7FD;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex-shrink: 0;
    width: 70px;
    height: 59px;
    margin-right: 30px;

    opacity: 1;
    transition: opacity 0.3s;
}

.logo:hover,
.logo:focus {
    opacity: 0.6;
}

/* Навигация по сайту */

.site-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-item {
    margin-right: 25px;
}

.nav-link {
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 1;
    color: inherit;
}

.nav-link:hover,
.nav-link:focus {
    opacity: 0.6;
}

.nav-item:last-child {
    margin-right: 0;
}

.menu-item-active .nav-link {
    color: #0F00B6;
}

/* Пользовательская навигация */

.user-nav {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;

    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.user-nav-item:not(:first-child) {
    margin-left: 25px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 9px 24px;

    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;

    background-color: transparent;
    border: 2px solid #0F00B6;
    cursor: pointer;
}

.button-outline {
    color: inherit;
    background-color: inherit;
    transition: color 0.3s, opacity 0.3s;
}

.button-outline:hover,
.button-outline:focus {
  opacity: 0.6;
}

.button-filled {
    color: #F8F7FD;
    background-color: #0F00B6;
    border: 2px solid #0F00B6;
    transition: color 0.3s, background-color 0.3s;
}

.button-filled:hover,
.button-filled:focus {
  color: inherit;
  background-color: inherit;
}